<div class="container">
    <div class="row">
        <div class="col-sm-12 mb-4">
            <h1 class="display-4">Registro</h1>
            <form class="form-row" ng-submit="$ctrl.addUser()" novalidate>
                <div class="form-group col-md-12">
                    <label>Nombre Completo</label>
                    <input type="text" class="form-control" placeholder="Nombre Completo" ng-model="$ctrl.newUser.name">
                </div>
                <div class="form-group col-md-6">
                    <label>Usuario</label>
                    <input type="text" class="form-control" placeholder="Usuario" autocomplete="new-password"
                        ng-model="$ctrl.newUser.user">
                </div>
                <div class="form-group col-md-6">
                    <label>Contraseña</label>
                    <input type="password" class="form-control" placeholder="Contraseña" autocomplete="new-password"
                        ng-model="$ctrl.newUser.password">
                </div>
                <div class="form-group col-md-6">
                    <label>Correo Electronico</label>
                    <input type="email" class="form-control" placeholder="Correo Electronico"
                        ng-model="$ctrl.newUser.email">
                </div>
                <div class="form-group col-md-6">
                    <label>Telefono</label>
                    <input type="text" class="form-control" placeholder="Telefono" ng-model="$ctrl.newUser.phone">
                </div>
                <div class="form-group col-md-6">
                    <label>Edad</label>
                    <input type="number" class="form-control" placeholder="Edad" ng-model="$ctrl.newUser.age">
                </div>
                <div class="form-group col-md-6">
                    <label>Genero</label>
                    <select class="form-control" ng-model="$ctrl.newUser.gender">
                        <option selected value="H">Hombre</option>
                        <option value="M">Mujer</option>
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <label>Pasatiempo</label>
                    <input type="text" class="form-control" placeholder="Pasatiempo" ng-model="$ctrl.newUser.hobby">
                </div>
                <div class="alert alert-danger col-md-12" role="alert" ng-if="$ctrl.error">
                    {{$ctrl.error}}
                </div>
                <div class="col-12">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success"><span class="fa fa-plus"></span>
                            Registrar</button>
                    </div>
                </div>
            </form>
        </div>
        <hr class="col-12">
        <div class="col-sm-12">
            <h1 class="display-4">Panel Control</h1>
            <form class="form-row" ng-submit="$ctrl.filterUsers()" novalidate>
                <div class="form-group col-md-6">
                    <label>Usuario</label>
                    <input type="text" class="form-control" placeholder="Usuario" ng-model="$ctrl.filterUser.user">
                </div>
                <div class="form-group col-md-6">
                    <label>Pasatiempo</label>
                    <input type="text" class="form-control" placeholder="Usuario" ng-model="$ctrl.filterUser.hobby">
                </div>
                <div class="col-md-12">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary"><span class="fa fa-search"></span> Buscar</button>
                    </div>
                </div>
            </form>
            <table class="table text-center mt-4 mb-4">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Edad</th>
                        <th scope="col">Genero</th>
                        <th scope="col">Pasatiempo</th>
                        <th scope="col">Fecha Creacion</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in $ctrl.users">
                        <th scope="row">{{user.name}}</th>
                        <td>{{user.phone || 'Sin Telefono'}}</td>
                        <td>{{user.age || 'No Registrado'}}</td>
                        <td>
                            <div ng-switch on="user.gender">
                                <div ng-switch-when="H">Hombre</div>
                                <div ng-switch-when="M">Mujer</div>
                                <div ng-switch-default>Sin Dato</div>
                            </div>
                        </td>
                        <td>{{user.hobby || 'No Registrado'}}</td>
                        <td>{{user.createdAt | amDateFormat:'LL'}}

                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm" type="button" ng-click="$ctrl.delete(user._id)">
                                <span class="fa fa-trash"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="mb-4 mt-4">
        <button class="btn btn-danger btn-block" type="button" ng-click="$ctrl.logout()">
            <span class="fa fa-close"></span> Salir
        </button>
    </div>
</div>